# Remove [I]Python caching
__pycache__
.ipynb_checkpoints

# Remove Mac shit
.DS_Store

# Remove Vim temp files
*sw*

# Ignore Data files
*.tar.gz
*.zip
*.feat
*.txt
*.data
.idea/
*.pth
*-ubyte
*.pt
*.png
!docs/**/*.png
imdb
data
Dataset*
.jekyll-cache
_site
.vscode
*.Identifier

# wandb
wandb*
*.ninja
.ninja_*

# openSTL
our_openSTL/work_dirs